[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "==0.12.2"

[packages]
django = "==2.2.8"
psycopg2-binary = "==2.8.3"
djangorestframework = "==3.10.2"
requests = "==2.22.0"

[requires]
python_version = "3.7"
